<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>convert</title>
    </head>
    <body>
        <h1>Usage: http://localhost:8000/unitconv/convert?OPTIONS</h1>
        <h2>Each of these OPTIONS must be included in the request:</h2>
        <ul>
            <li>from = T | g | t_gz | kg | lb | oz</li>
            <li>value = a floating point number</li>
            <li>to = T | g | t_gz | kg | lb | oz</li>
        </ul>
        <h4>Example: http://localhost:8000/unitconv/convert?from=T&value=10&to=g</h4>
    </body>
</html>
